Django==4.2.7
Pillow==10.1.0
django-crispy-forms==2.1
crispy-bootstrap5==0.7
django-ckeditor==6.7.0
django-environ==0.11.2
django-allauth==0.58.2
whitenoise==6.6.0
gunicorn==21.2.0
psycopg2-binary==2.9.9
django-countries==7.5.1
python-dotenv==1.0.0
django-storages==1.14.2
boto3==1.29.3
uvicorn
dj-database-url
